{% extends "base.html" %}
{% load static %}

{% block content %}


{% block page_header %}

{% endblock %}

{% include '../includes/carousel.html' %}

<div class="text-center">
    <h2 class="text-center mt-4">
        ABOUT US
    </h2>

    <p class= "text-center m-5"> 
        The Sole Society strives to bring you the freshest sneakers from across the globe. 
        Get your hands on drops from some of the world's biggest brands like Nike, adidas & Vans. Stay ahead of the game.
    </p>
    <a href="{% url 'products' %}">
        <button class="btn btn-dark text-center mb-5">View All Products</button>
    </a>
</div>


{% endblock %}