<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?gender=m,u&category=best_sellers" class="dropdown-item">Best Sellers</a>
                <a href="{% url 'products' %}?gender=m,u&category=exclusives" class="dropdown-item ">Exclusives</a>
                <a href="{% url 'products' %}?gender=m,u&category=new_arrivals" class="dropdown-item ">New Arrivals</a>
                <a href="{% url 'products' %}?gender=m,u&category=sports_shoes" class="dropdown-item ">Sports Shoes</a>
                <a href="{% url 'products' %}?gender=m,u&category=essentails" class="dropdown-item">Essentials</a>
                <a href="{% url 'products' %}?gender=m,u" class="dropdown-item">All Mens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?gender=w,u&category=best_sellers" class="dropdown-item">Best Sellers</a>
                <a href="{% url 'products' %}?gender=w,u&category=exclusives" class="dropdown-item ">Exclusives</a>
                <a href="{% url 'products' %}?gender=w,u&category=new_arrivals" class="dropdown-item ">New Arrivals</a>
                <a href="{% url 'products' %}?gender=w,u&category=sports_shoes" class="dropdown-item ">Sports Shoes</a>
                <a href="{% url 'products' %}?gender=w,u&category=essentails" class="dropdown-item">Essentials</a>
                <a href="{% url 'products' %}?gender=w,u" class="dropdown-item">All Mens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=headwear" class="dropdown-item">Hats</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?category=bags,headwear" class="dropdown-item">All accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=sale" class="dropdown-item">Sale</a>
            </div>
        </li>
    </ul>
</div>