{% extends "base.html" %}
{% load static %}

{% block content %}


{% block page_header %}
<div class ="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}


<div class="container-fluid px-3 products-page">
    <div class="row">
        <div class="col-12 col-sm-6 p-4 my-auto">
            <h1 class="font-black-bg">Products </h1>
        </div>
    </div>
    <div class="row">
        <div class="sort-select-wrapper w-50 pb-4 pl-2">
            <select id="sort-selector" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None___None' %}selected{% endif %}>Sort by...</option>
                <option value="price___asc" {% if current_sorting == 'price___asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price___desc" {% if current_sorting == 'price___desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="rating___asc" {% if current_sorting == 'rating___asc' %}selected{% endif %}>Rating (low to high)</option>
                <option value="rating___desc" {% if current_sorting == 'rating___desc' %}selected{% endif %}>Rating (high to low)</option>
                <option value="name___asc" {% if current_sorting == 'name___asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name___desc" {% if current_sorting == 'name___desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category___asc" {% if current_sorting == 'category___asc' %}selected{% endif %}>Category (A-Z)</option>
                <option value="category___desc" {% if current_sorting == 'category___desc' %}selected{% endif %}>Category (Z-A)</option>
                <option value="brand__name___asc" {% if current_sorting == 'brand_name___asc' %}selected{% endif %}>Brand (A-Z)</option>
                <option value="brand__name___desc" {% if current_sorting == 'brand_name___desc' %}selected{% endif %}>Brand (Z-A)</option>
            </select>
        </div>
    </div>
        <div class="row">
                {% for product in products %}
                    <!-- Products -->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="card mx-auto col-md-3 text-white bg-dark mb-3" style="width: 16rem;">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}noimg.webp" class="card-img-top" alt="no image available">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="card-title ">{{ product.name }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <h4 class="text-secondary">{{ product.brand.friendly_name }}</h4>
                                    </div>
                                        <div class="col-12 ">
                                            <h5>£{{ product.price }}</h5>
                                        </div>
                                        <small ><i class="fas fa-star mr-1"></i> {{ product.rating }} / 5.0</small>
                                        <div class="col">
                                        {% if request.user.is_authenticated %}
                                            {%  if product in favourites %}
                                            <a class="btn btn-danger mt-3" href="{% url 'remove_from_favourites' product.id %}"><i class="fa-solid fa-heart-circle-xmark" title="Unfavourite"></i></a>
                                            {% else %}
                                            <a class="btn btn-success mt-3" href="{% url 'add_to_favourites' product.id %}"><small><i class="fa-solid fa-heart-circle-check" title="Favourite"></i></small></a>
                                             {% endif %}
                                        {% else %}
                                        <a class="btn btn-secondary mt-3" href="{% url 'remove_from_favourites' product.id %}"><i class="fa-solid fa-heart" title="Log in to favourite"></i></a>
                                        {% endif %}
                                        </div>
                                        <div>
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        
        </div>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}    
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("___")[0];
                var direction = selectedVal.split("___")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}