{% extends "base.html" %}
{% load static %}

{% block content %}


{% block page_header %}
<!-- <div class ="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div> -->

{% endblock %}


<div class="container-fluid px-3 products-page">
    <div class="row">
        <div class="col-12 col-sm-6 p-4 my-auto">
            <h1 class="font-black-bg">Products </h1>
        </div>
    <div class="row">
        <div class="">
            <div class="row">
                {% for product in products %}
                    <!-- Products -->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="card mx-auto col-md-3 text-white bg-dark mb-3" style="width: 16rem;">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="#">
                                    <img src="#" class="card-img-top" alt="no image available">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="card-title ">{{ product.name }}</h4>
                                    </div>
                                    <div class="col-12">
                                        <h4 class="text-secondary">{{ product.brand.friendly_name }}</h4>
                                    </div>
                                        <div class="col-12 ">
                                            <h5>£{{ product.price }}</h5>
                                        </div>
                                        <small ><i class="fas fa-star mr-1"></i> {{ product.rating }} / 5.0</small>
                                        <div>
                                            <button type="button" class="btn btn-success mt-3">
                                                buy now
                                            </button>
                                        </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}